.header__logo {
    width: 142px;
    height: 33px;
    margin: 0 0 40px;
}

@media (max-width: 768px) {
    .header__logo {
        width: 104px;
        height: 25px;
        margin: 28px 27px 30px;
    }
}